	<div class="container">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<h1>welcome to
       	<i class="fa fa-book" aria-hidden="true"></i>
        <strong>Bookers!!</strong>
				</h1>

				<p>
					In
					<i class="fas fa-book"></i>
					<strong>Bookers,</strong>
				</p>
				<p>you can share and exchang your opinions , inpressions , and emotions<br>
				about various books!</p>
				<div class="btn-in"><%= link_to "Log in", new_user_session_path, class:"btn btn-primary w-100" %></div>
				<div class="btn-up"><%= link_to "Sign up", new_user_registration_path, class:"btn btn-success w-100" %></div>
			</div>
			<div class="col-lg-3"></div>
		</div>
		<div class row>
			<div
		</div>
	</div>



