// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-in {
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
}

.btn-up {
	text-align: center;
	margin-bottom:20px;
}

.text-top {
 margin-top: 30px;
}
